@-moz-document domain("github.com") {
 /*! GitHub Selected Tab Color v1.0.7 (9/14/2016) *//*
 * https://github.com/StylishThemes/GitHub-Selected-Tab-Color
 * https://userstyles.org/styles/130386/
 * License: https://creativecommons.org/licenses/by-sa/4.0/
 */
  /* AGENT_SHEET */
  body .pagehead-tabs-item.selected,
  body .reponav-item.selected,
  body .btn-link.selected,
  body .tabnav-tab.selected,
  body #graph_data .tab.selected {
    border-top-width: 3px !important;
    border-top-color: /*[[base-color]]*/ #4183C4 !important;
  }
  body .repo-filterer .repo-filter.filter-selected,
  body .filter-selected,
  body .underline-nav-item.selected {
    border-bottom-color: /*[[base-color]]*/ #4183C4 !important;
  }
  body .menu-item.selected:before {
    background-color: /*[[base-color]]*/ #4183C4 !important;
  }
  /* reset GitHub Dark shifting tabs up */
  body .reponav-item, .pagehead-tabs-item {
    position: static !important;
  }
}
